/* Write your CSS here */
.about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-image-container {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.mobile-about-icon-image {
  width: 80%;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .mobile-about-icon-image {
    display: none;
  }
}

.desktop-about-icon-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-about-icon-image {
    width: 100%;
    max-width: 1150px;
    display: flex;
  }
}
